 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Engineering predictive models and analytic solutions using data driven methodologies and practices across interdisciplinary and applied fields in academia and industry. Attention given to data acquisition through data mining and sensor development and image collection and signal processing. Data Set machine learning and analysis to yield crucial evidence and information for policy and decision makers through</p>
                </div>
                <div class="col-lg-4">
                    <p>-  Natural Language processing (NLP) 
                    -  logistic regression 
                    -  Generalized Linear Models (GLM) 
                    -  Ordinary Least Squares
                    -  Neural Networks
                    -  Random Forests
                    -  K-nearest neighbor algorithm (KNN)
                    -  Code runtime optimization</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Info
                    </a>
                </div>
            </div>
        </div>
    </section>
